


body {
	background-image: url('../images/pink.jpg');
	background position: center;

}

.page-header {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

h1 {
	font-weight: bold;
}

footer {
	font-weight: bold;
	margin-top: 60px;
}

